<div class="container">
    <h1>List of Products<span style="font-size: 13px;" *ngIf="products"> ({{productsLenght()}})</span></h1>
    <button class="btn btn-success" style="float: right;margin-bottom: 10px;" (click)="showProduct(product)">add
        New</button>
    <table class="table table-bordered table-hover text-center ">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>description</th>
                <th>Quantity</th>
                <th>Measure</th>
                <th>img</th>
                <th>
                    <div style="float: right;">
                        <fa-icon [icon]="faCoffee" style="margin-right: 5px;"></fa-icon>
                        <input type="text" (input)="search($event.target.value)">
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let prod of products">
                <td>{{prod.prodId}}</td>
                <td>{{prod.prodDescription}}</td>
                <td>{{prod.prodQuantity}}</td>
                <td>{{prod.prodMeasure}}</td>
                <td><img [src]="prod.prodPictureUrl" style="height: 50px;width: 50px;" *ngIf="prod.prodPictureUrl"></td>
                <td>
                    <button class="btn btn-warning mr-1" (click)="showProduct(prod)">update</button>
                    <button class="btn btn-danger mr-1" (click)="deleteProduct(prod)">delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>