<div class="container">
    <h1>Menu Details</h1>

    <div class="card border-dark" style="padding:5px;">

        <form [formGroup]="myForm" class="form" (ngSubmit)="saveMenu()">
            <!-- Card header -->
            <div class="card-header">
                <div class="formWrapper">

                    <div class="container responsive">
                        <div class="row">
                            <div class="col-xs-7 col-md-7">

                                <!-- Menu name -->
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Name</span>
                                        </div>
                                        <input type="text" formControlName="menuDescription" class="form-control">
                                    </div>
                                </div>


                                <!-- Menu Category -->
                                <div class="form-group">
                                    <div class="input-group">
                                        <label class="input-group-text">Category</label>
                                        <select class="form-control">
                                            <option value=""></option>
                                            <option value="Beers">Beer</option>
                                            <option value="meet">Meet</option>
                                        </select>
                                    </div>
                                </div>

                                <!-- Menu Active -->
                                <div class="form-group">
                                    <div class="input-group">
                                        <label class="input-group-text" for="active">Active</label>
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <input type="checkbox" name="menuActive" id="active"
                                                    class="input-group-text" formControlName="menuActive">
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>

                            <!-- white space between the columnns -->
                            <div class="col-xs-2 col-md-2"></div>

                            <div class="col-xs-3 col-md-3">

                                <!-- image with picture upload -->
                                <div class="form-group">
                                    <div class="form-group">
                                        <img [src]="menuImage" onerror="this.src='assets/img/upload.png'"
                                            style="width:100%">
                                    </div>
                                    <div class="custom-file">
                                        <input type="File" formControlName="menuImage" class="custom-file-input">
                                        <label class="custom-file-label">Choose file</label>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <!-- Save button -->
                        <div class="row">
                        <input type="submit" class="btn btn-success" value="save">
                        </div>
                    </div>
                </div>
            </div>

            <!-- Sub Form That contains the proudcts and the quantities -->
            <div class="card-body">
                <h3 class="text-center">Product Composition</h3>
              
                    <!-- Start of the table -->
                <table class="table table-hover" formArrayName="products">
                    <thead class="bg-dark text-light">
                        <th style="width: 60%;" class="text">Product</th>
                        <th style="width: 30%;" class="text-center">Quantity</th>
                        <th></th>
                    </thead>
                    <tbody>
                    <tr *ngFor="let prod of productsForm.controls;let i = index" [formGroupName]="i">
                        <td formGroupName="product">
                            <select type="text" formControlName="prodId" class="form-control">
                                <option *ngFor="let prod of productList" [value]="prod.prodId"><img
                                        [src]="prod.prodPictureUrl">{{prod.prodDescription}}
                                </option>
                            </select>
                        </td>
                        <td><input type="number" formControlName="qty" class="form-control"></td>
                        <td><button (click)="deleleteProducts(i)" class="btn btn-danger">X</button></td>
                    </tr>
                </tbody>
                </table>
                  <!-- Button to add products to the menu -->
                  <button (click)="addProducts()" type="button" class="btn btn-outline-success" style="margin-bottom: 5px;"><span
                    style="font-weight: bold;">+</span>
                </button>
            </div>
        </form>
    </div>