<div class="container">



    <form [formGroup]="orderForm" (ngSubmit)="saveMenu()">
        <div class="row">
        <div class="col">

        <div class="form-group">
            <label for="date" style="font-size: x-large; font-weight: bolder;">Order Nr. {{order.id}}</label>
        </div>

        <div class="form-group">
            <label *ngIf="order.date">Date: {{order.date}}</label>
        </div>

    </div>

    <div class="col">
        <div *ngIf="order.active!=false">
        <button style="float: right;margin-top: 10px;" class="btn btn-success" type="submit">Save</button>
        <button  style="float: right;margin: 10px;" class="btn btn-info" (click)="validateOrder(order.id)" >Close</button>
    </div>
    </div>
</div>
        <H2>Order Items</H2>
        <table class="table" formArrayName="orderMenuList">
            <thead>
                <tr>
                    <th>item</th>
                    <th>qty</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let orders of menuForm.controls;let i = index" [formGroupName]="i">
                    <td formGroupName="menu">
                        <select type="number" formControlName="menuId">
                            <option *ngFor="let menuItem of listOfItems" [value]="menuItem.menuId">
                                {{menuItem.menuDescription}}
                            </option>
                        </select>
                    </td>
                    <td><input type="number" formControlName="quantity"></td>
                    <td><button (click)="deleleteMenuList(i)" class="btn btn-danger">X</button></td>
                </tr>
            </tbody>
        </table>

        <button (click)="addMenus()" type="button" class="btn btn-success">+</button>
    </form>
</div>