<div class="container" >
        <h1>List of Menu</h1>
        <button class="btn btn-success" style="float: right;margin-bottom: 10px;" (click)="addNewMenu()">add New</button>
        <table class="table table-bordered table-hover text-center">
            <thead class="thead-dark">
                <tr>
                    <th>Id</th>
                    <th>description</th>
                    <th>Category</th>
                    <th>Active</th>
                    <th>img</th>
                    <th>
                            <div style="float: right;">
                                    <fa-icon [icon]="faSearch" style="margin-right: 5px;"></fa-icon>
                                    <input type="text" (input)="search($event.target.value)">
                                </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let menu of menus" >
                    <td>{{menu.menuId}}</td>
                    <td>{{menu.menuDescription}}</td>
                    <td>{{menu.menuCategory}}</td>
                    <td>{{menu.menuActive}}</td>
                    <td><img [src]="menu.image" style="height: 50px;width: 50px;" *ngIf="menu.image"></td>
                    <td>
                        <button class="btn btn-warning mr-1" (click)="editButton(menu.menuId)">update</button>
                        <button class="btn btn-danger mr-1" (click)="deleteMenu(menu)" >delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>